@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.body {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(imagenes/bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 10px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-txt {
    text-align: center;
}

.header-txt h1 {
    font-size: 85px;
    color: #fffdfc;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header-txt p {
    color: #BEBEBE;
    font-size: 16px;
    padding: 0 250px;
    margin-bottom: 45px;
}

.btn-1 {
    display: inline-block;
    padding: 12px 45px;
    border: 1px solid #fffdfc;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-1:hover {
    color: #00bff9;
    transition: 0.5s;
    background-color: #fffdfc;
}

.general {
    padding: 50px 0;
    text-align: center;
}

.general .programa-content {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
    align-items: center;
}

.general .programa-content .general-1,
.general .programa-content .general-2,
.general .programa-content .general-3 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    padding: 20px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fffdfc;
}

.general-2 .general-content {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.general-2 .general-content div[class*="general-"] {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
    width: auto;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.general-1 {
    background-image: url(imagenes/r1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-2 {
    background-image: url(imagenes/r2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-3 {
    background-image: url(imagenes/r3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-4 {
    background-image: url(imagenes/r4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-5 {
    background-image: url(imagenes/r5.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-6 {
    background-image: url(imagenes/r6.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.info-2 {
    padding: 250px 0;
    background-image: url(imagenes/bg3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1B293A;
}

.info-2 .info-content {
    text-align: center;
}

.info-2 h2 {
    color: #fffdfc;
    font-size: 36px;
    margin-bottom: 30px;
}

.info-2 .resultado-left,
.info-2 .resultado-right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-2 .Resultado-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.info-2 .Resultado-txt img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.info-2 .Resultado-txt h3 {
    font-size: 16px;
    color: #fffdfc;
    margin-bottom: 5px;
}

.info-2 .Resultado-txt p {
    color: #BEBEBE;
    font-size: 14px;
}

.info-2 .info-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
}

h2 {
    font-size: 70px;
    text-transform: uppercase;
    color: #1b293a;
}

.txt h3 {
    font-size: 18px;
    color: #fffdfc;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.txt p {
    color: #BEBEBE;
    font-size: 16px;
}

.info-1 {
    padding: 250px 0;
    background-image: url(imagenes/bg2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.info-content {
    text-align: center;
}

.info-content h2,
span {
    color: #fffdfc;
}

.info-circle {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.circle-txt {
    width: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}

.circle-1 {
    height: 100px;
    width: 100px;
    border: 1px solid #fffdfc;
    border-radius: 50%;
    padding-top: 30px;
}

.circle-1 h3 {
    color: #BEBEBE;
    font-size: 16px;
}

.circle-txt p {
    color: #fffdfc;
    margin-top: 25px;
}

.testi {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.testi-left {
    width: 50%;
    padding-right: 25px;
}

.testi-right {
    width: 50%;
    padding-left: 35px;
}

.testi-txt {
    margin-bottom: 25px;
}

.testi-txt img {
    width: 50px;
    margin-bottom: 15px;
}

.testi-txt h3 {
    font-size: 20px;
    font-size: 16px;
}

.testi-txt p {
    color: #BEBEBE;
    font-size: 16px;
}

.footer {
    padding: 100px 0 0 0;
    text-align: center;
}

.form {
    margin-top: 35px;
}

.campo {
    margin-right: 10px;
    padding: 17px 35px;
    border: 2px solid #b4b4b4;
    outline: none;
    color: #1b293a;
}

.campo::placeholder {
    color: #b4b4b4;
}

.btn-2 {
    padding: 17px 35px;
    border: 2px solid #1b293a;
    background-color: #1b293a;
    color: #fffdfc;
}

.footer-txt {
    margin-top: 100px;
    border-top: 1px solid #b4b4b47e;
    padding: 20px 0;
}

@media (max-width: 991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1B293A;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-txt h1 {
        font-size: 50px;
    }

    .header-txt p {
        padding: 0;
    }

    .general {
        padding: 30px 30px 0 30px;
    }

    .general-content {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .general-1,
    .general-2,
    .general-3,
    .general-4,
    .general-5,
    .general-6 {
        height: auto; /* Cambiamos la altura a 'auto' */
        padding: 20px; /* Reducimos el padding para evitar demasiado espacio vertical */
        margin-bottom: 20px;
    }

    .info-1 {
        padding: 200px 30px;
        background-size: cover;
        margin-top: -110px;
    }

    .info-ciercle {
        flex-direction: column;
        align-items: center;
    }

    .circle-txt {
        width: 100%;
        margin-bottom: 25px;
    }

    .g2 {
        margin-top: -120px;
    }

    .info-2 {
        padding: 200px 30px;
        background-size: cover;
        margin-top: -180px;
    }

    .testi {
        flex-direction: column;
    }

    .testi-left {
        width: 100%;
        padding-right: 0;
    }

    .testi-right {
        width: 100%;
        padding-left: 0;
    }

    h2 {
        font-size: 40px;
    }

    .footer {
        padding: 0;
        margin-top: -140px;
    }

    .from {
        display: flex;
        flex-direction: column;
        padding: 0 50px;
    }

    .campo {
        margin: 0 0 10px 0;
    }

    .footer-txt {
        margin-top: 30px;
    }
    
    .info-2 {
        padding: 200px 30px;
        margin-top: 0;
    }

    .info-2 .info-content {
        flex-direction: column;
        align-items: center;
    }

    .info-2 .resultado-left,
    .info-2 .resultado-right {
        width: 100%;
        padding: 20px;
    }

    .info-2 .Resultado-txt {
        margin-bottom: 20px;
        width: 100%;
    }
    
    .general-2 .general-content div[class*="general-"] {
        height: auto;
        padding: 20px;
    }
    
    .general-2 .general-content {
        flex-direction: column;
    }
    
    .general-4, .general-5, .general-6{
        height: auto;
        padding: 20px;
    }
}